#
# SAMPLE CONFIGURATION
#

# carbon stats prefix
PREFIX="org.example.intgw"

# carbon server
SERVER="stats.sample.org"

# carbon port
PORT="2003"

# PPPoE WAN Interface
PPPOE_WAN="pppoe-wan"

# Router IP/Hostname to install on
ROUTER="192.168.1.1"
